<div class="p-16 bg-light-primary rounded">
  <h5 class="f-s-14 text-primary d-flex align-items-center f-w-600">
    <i-tabler name="info-circle" class="icon-20 m-r-8 d-flex"></i-tabler>Person Info
  </h5>
</div>
<div class="row m-t-20">
  <div class="col-lg-6">
    <!-- input -->
    <mat-label class="f-s-14 f-w-600 m-b-8 d-block">First Name</mat-label>
    <mat-form-field appearance="outline" class="w-100" color="primary">
      <input matInput type="text" />
    </mat-form-field>
    <!-- input -->
    <mat-label class="f-s-14 f-w-600 m-b-8 d-block">Select Gender</mat-label>
    <mat-form-field appearance="outline" class="w-100">
      <mat-select value="male">
        <mat-option value="male">Male</mat-option>
        <mat-option value="female">Female</mat-option>
        <mat-option value="other">Other</mat-option>
      </mat-select>
    </mat-form-field>
    <!-- input -->
    <mat-label class="f-s-14 f-w-600 m-b-8 d-block">Membership</mat-label>
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button value="1" color="primary">Free</mat-radio-button>
      <mat-radio-button value="2" color="primary">Paid</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="col-lg-6">
    <!-- input -->
    <mat-label class="f-s-14 f-w-600 m-b-8 d-block">Last Name</mat-label>
    <mat-form-field appearance="outline" class="w-100" color="primary">
      <input matInput type="text" />
    </mat-form-field>
    <!-- input -->
    <mat-label class="f-s-14 f-w-600 m-b-8 d-block">Date of Birth</mat-label>
    <mat-form-field appearance="outline" class="w-100">
      <input matInput [matDatepicker]="picker" />
      <mat-datepicker-toggle matIconSuffix
                             [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
</div>
<div class="p-16 bg-light-primary rounded m-y-20">
  <h5 class="f-s-14 text-primary d-flex align-items-center f-w-600">
    <i-tabler name="info-circle" class="icon-20 m-r-8 d-flex"></i-tabler>Address
  </h5>
</div>
<div class="row m-t-20">
  <div class="col-lg-12">
    <!-- input -->
    <mat-label class="f-s-14 f-w-600 m-b-8 d-block">Street</mat-label>
    <mat-form-field appearance="outline" class="w-100" color="primary">
      <input matInput type="text" />
    </mat-form-field>
  </div>
  <div class="col-lg-6">
    <!-- input -->
    <mat-label class="f-s-14 f-w-600 m-b-8 d-block">City</mat-label>
    <mat-form-field appearance="outline" class="w-100" color="primary">
      <input matInput type="text" />
    </mat-form-field>
  </div>
  <div class="col-lg-6">
    <!-- input -->
    <mat-label class="f-s-14 f-w-600 m-b-8 d-block">State</mat-label>
    <mat-form-field appearance="outline" class="w-100" color="primary">
      <input matInput type="text" />
    </mat-form-field>
  </div>
  <div class="col-lg-6">
    <!-- input -->
    <mat-label class="f-s-14 f-w-600 m-b-8 d-block">Post Code</mat-label>
    <mat-form-field appearance="outline" class="w-100" color="primary">
      <input matInput type="text" />
    </mat-form-field>
  </div>
  <div class="col-lg-6">
    <!-- input -->
    <mat-label class="f-s-14 f-w-600 m-b-8 d-block">Country</mat-label>
    <mat-form-field appearance="outline" class="w-100">
      <mat-select value="male">
        <mat-option value="india">India</mat-option>
        <mat-option value="uk">United Kingdom</mat-option>
        <mat-option value="africa">Africa</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<button mat-flat-button class="bg-error text-white">Cancel</button>
<button mat-flat-button class="m-l-8">Submit</button>
