<div class="sidebar-area bg-white active"
     [ngClass]="{'active': isSidebarToggled}"
     [class.component-dark-theme]="themeService.isDark()"
     [class.dark-sidebar]="themeService.isSidebarDark()"
     [class.right-sidebar]="themeService.isRightSidebar()"
     [class.hide-sidebar]="themeService.isHideSidebar()"
     [class.card-borderd-theme]="themeService.isCardBorder()"
     [class.rtl-enabled]="themeService.isRTLEnabled()">
  <div class="logo bg-white">
    <a routerLink="/" class="d-flex align-items-center">
      <img src="images/logo-HRMS.png" alt="logo-icon">
      <span class="fw-semibold"></span>
    </a>
  </div>
  <div (click)="toggle()"
       class="burger-menu"
       [ngClass]="{'active': isSidebarToggled}">
    <span class="top-bar"></span>
    <span class="middle-bar"></span>
    <span class="bottom-bar"></span>
  </div>
  <ng-scrollbar visibility="hover">
    <div class="sidebar-inner">
      <div class="sidebar-menu">
        <mat-accordion>
          <span class="sub-title text-body">
            Logged in as - ADMIN
          </span>
          <mat-expansion-panel [expanded]="panelOpenState" (opened)="panelOpenState = true" (closed)="panelOpenState = true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <i class="material-symbols-outlined">
                  dashboard
                </i>
                <span class="title">
                  Configuration
                </span>
                <span class="daxa-badge">
                  2
                </span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="sidebar-sub-menu">
              <li class="sidemenu-item">
                <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                  Skills
                </a>
              </li>
              <li class="sidemenu-item">
                <a routerLink="/crm" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                  Test Category
                </a>
              </li>
            </ul>
          </mat-expansion-panel>
          <span class="sub-title text-body">
            USERS
          </span>
          <a routerLink="/to-do-list" class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <i class="material-symbols-outlined">
              ballot
            </i>
            <span class="title">
              Employees
            </span>
          </a>
          <a routerLink="/calendar" class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <i class="material-symbols-outlined">
              calendar_today
            </i>
            <span class="title">
              HR
            </span>
          </a>
          <a routerLink="/contacts" class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <i class="material-symbols-outlined">
              perm_contact_calendar
            </i>
            <span class="title">
              Hiree
            </span>
          </a>
          
          <span class="sub-title text-body">
            APTITUDE TEST
          </span>
          <mat-expansion-panel  [expanded]="panelOpenState"  (opened)="panelOpenState = true" (closed)="panelOpenState = true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <i class="material-symbols-outlined">
                  shopping_cart
                </i>
                <span class="title">
                  Setup Aptitude
                </span>
                <span class="daxa-badge">
                  2
                </span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="sidebar-sub-menu">
              <li class="sidemenu-item">
                <a routerLink="/ecommerce-page" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                  Questions-Answers
                </a>
              </li>
              <li class="sidemenu-item">
                <a routerLink="/ecommerce-page/products-list" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                  Tests
                </a>
              </li>
              <li class="sidemenu-item">
                <a routerLink="/ecommerce-page/products-list" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                  Test Results
                </a>
              </li>
            </ul>
          </mat-expansion-panel>                    
          <a routerLink="/starter" class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <i class="material-symbols-outlined">
              star_border
            </i>
            <span class="title">
              Starter
            </span>
          </a>
          
          <span class="sub-title text-body">
            OTHERS
          </span>
          <a routerLink="/my-profile" class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <i class="material-symbols-outlined">
              account_circle
            </i>
            <span class="title">
              My Profile
            </span>
          </a>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <i class="material-symbols-outlined">
                  settings
                </i>
                <span class="title">
                  Settings
                </span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="sidebar-sub-menu">
              <li class="sidemenu-item">
                <a routerLink="/settings" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                  Account Settings
                </a>
              </li>
              <li class="sidemenu-item">
                <a routerLink="/settings/change-password" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                  Change Password
                </a>
              </li>
              <!--<li class="sidemenu-item">
                <a routerLink="/settings/connections" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                  Connections
                </a>
              </li>
              <li class="sidemenu-item">
                <a routerLink="/settings/privacy-policy" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                  Privacy Policy
                </a>
              </li>
              <li class="sidemenu-item">
                <a routerLink="/settings/terms-conditions" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                  Terms & Conditions
                </a>
              </li>-->
            </ul>
          </mat-expansion-panel>
          
          <a routerLink="/authentication/logout" class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <i class="material-symbols-outlined">
              logout
            </i>
            <span class="title">Logout</span>
          </a>
        </mat-accordion>
      </div>
    </div>
  </ng-scrollbar>
</div>
