/* You can add global styles to this file, and also import other style files */
.questions-group {
  display: inline;
  display: flex;
  align-content: center;
  align-items: center;
  height: 30px;
}
